/* Comments
/* ---------------------------------------------------------- */

.gh-post-comments {
    margin: var(--space-3xl) 0 var(--space-xl);
    padding-top: var(--space-xl);
    border-top: 1px solid var(--color-border);
}

.gh-post-comments .gh-canvas {
    max-width: var(--content-width);
    margin: 0 auto;
}
